* {
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: #fff;
	min-height: 720px;
}

header {
	min-height: 100px;
	text-align: center;
	background-color: #D35400;
	color: #fff;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	flex-direction: column;
}

header * {
	margin: auto;
}

nav	{
	min-height: 50px;
	width: 100%;
	background-color: #333;
	color: #fff;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.nav-el {
	margin: auto;
	width: 100px;
	height: 50px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.nav-el * {
	margin: auto;
}

.nav-el a {
	color: #fff;
}

.content-marq {
	font-size: 20px;
}

.news {
	width: 100%;
	background-color: #E4F1FE;
	display: flex;
	padding: 10px;
}

.news-block {
	width: 300px;
	margin: 10px;
}

.news-block__name {
	display: flex;
	height: 50px;
	background-color: #333;
	color: #fff;
}

.news-block__date {
	display: flex;
	height: 20px;
	background-color: #22313F;
	color: #fff;
}


.news-block__text {
	width: 300px;
	min-height: 100px;
	display: flex;
	background-color: #fff;
}

.news-block__name *, .news-block__date *, .news-block__text * {
	margin: auto;
}